docker_sql/output.csv filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
docker_sql/ny_taxi_postgres_data/** filter=lfs diff=lfs merge=lfs -text
docker_sql/ny_taxi_postgres_data/base/16384/24590 filter=lfs diff=lfs merge=lfs -text
