de-zoomcamp-env
docker_sql/output.csv
docker_sql/yellow_tripdata_2021-01.csv
docker_sql/ny_taxi_postgres_data/
docker_sql/output.csv

*.csv
*.parquet
*.gz
*.zip
*.tar
*.db
*.sqlite
*.bak
**/ny_taxi_postgres_data/
**/__pycache__/
**/.ipynb_checkpoints/
**/logs/
