de-zoomcamp-env
docker_sql/output.csv
docker_sql/yellow_tripdata_2021-01.csv
docker_sql/ny_taxi_postgres_data/
docker_sql/output.csv
workflow orchestration/airflow/logs/dag_processor_manager/dag_processor_manager.log
*.csv
*.parquet
*.gz
*.zip
*.tar
*.db
*.sqlite
*.bak
**/ny_taxi_postgres_data/
**/__pycache__/
**/.ipynb_checkpoints/
**/logs/

/Users/yokinzou/Desktop/Data Engineering Zoomcamp/docker_sql/ny_taxi_postgres_datadocker_sql/ny_taxi_postgres_data/base/16384/24590
docker_sql/yellow_tripdata_2021-01.csv
